.page {

  width: 100%;
  margin: 0 auto;
   font-family: 'Inter', Arial, sans-serif;
  /* сглаживание шрифтов */
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  /* правила для масштабирования шрифтов */
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  /* оптимизировать читаемость */
  text-rendering: optimizeLegibility;
  background-color: #2A2C2F;
  color: #FFFFFF;
 }
