.lead {
  max-width: 984px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
}



@media screen and (max-width: 1024px) {
  .lead {
    max-width: calc(928 / 1024 * 100%);
  }
}

@media screen and (max-width: 768px) {
  .lead {
    max-width: 1calc(928 / 1024 * 100%);
  }
}

@media screen and (max-width: 768px) {
  .lead {
    max-width: 100%;
  }
}



