.cover__subtitle {
    margin: 0;
    max-width: 360px;
    justify-self: center;
    text-align: center;
    grid-row: 2;
    grid-column: 1;
    z-index: 1;
    font-size: 18px;
    line-height: 22px;
    font-weight: 400;
  }


  @media (min-width: 320px) and (max-width: 768px) {
    .cover__subtitle  {
      font-size: calc(14px + (18 - 14) * ((100vw - 320px) / (768 - 320)));
      line-height: 1.1;
    }
}
  @media screen and (max-width: 320px) {
    .cover__subtitle  {
      font-size: 14px;
      line-height: 16px;
    }
}

