.lead__title {
  max-width: 720px;
  margin: 0 auto;
  line-height: 100px;
  text-align: center;
  font-weight: 900;
  font-size: 96px;
}

/* @media screen and (max-width: 767px) {
  .lead__title {
    max-width: calc(288 / 320 * 100%);
  }
} */

@media (min-width: 320px) and (max-width: 768px) {
  .lead__title {
    max-width: calc(288 / 320 * 100%);
    font-size: calc(40px + (96 - 40) * ((100vw - 320px) / (768 - 320)));
    line-height: 1.15;
  }
}
@media screen and (max-width: 320px) {
  .lead__title {
    font-size: 40px;
    line-height: 44px;

  }
}


