.place__paragraph {
    grid-column: 2;
    font-weight: 400;
    font-size: 18px;
    line-height: 163%;
    margin: 0 0 26px 0;
}

.place__paragraph:last-of-type {
    margin-bottom: 0;
  }

  @media screen and (max-width: 768px) {
    .place__paragraph  {
        font-size: 16px;
        line-height: 163%;
        margin: 0 0 25px 0;
    }
  }
  @media screen and (max-width: 760px) {
    .place__paragraph  {
    grid-column: 1;
    padding: 0 16px 0 16px;
    }
  }

  @media screen and (max-width: 760px) {
  .place__paragraph:first-of-type {
      margin-top: 32px;
  }
}


