.lead__subtitle {
  max-width: 640px;
  margin: 32px 0 64px 0;
  text-align: center;
  font-size: 30px;
  font-weight: 400;
  line-height: 36px;
  }


@media screen and (max-width: 1024px) {
  .lead__subtitle {
    margin-bottom: 56px;
  }
}

@media (min-width: 320px) and (max-width: 768px) {
  .lead__subtitle {
    font-size: calc(16px + (30 - 16) * ((100vw - 320px) / (768 - 320)));
    line-height: 1.2;
    max-width: calc(288 / 320 * 100%);
  }
}

@media screen and (max-width: 320px) {
  .lead__subtitle {
    font-size: 16px;
    line-height: 20px;
    margin-bottom: 40px;
    margin-top: 16px;
  }
}
