.cover {
  max-width: 1184px;
  position: relative;
  margin: 0 auto;
  display: grid;
  grid-template-rows: repeat(2, min-content);
  grid-gap: 32px;
  }

  .cover:before {
    content: '';
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background-color: #2A2C2F;
    opacity: 0.3;
    transition: opacity 0.9s ease-in-out;
  }

  .cover:hover::before {
    opacity: 0.8;
  }

  @media screen and (max-width: 1024px) {
    .cover {
      max-width: 1024px;
    }
  }

  @media screen and (max-width: 768px) {
    .cover {
      max-width: 768px;
    }
  }

  @media screen and (max-width: 767px) {
    .cover {
      grid-gap: 16px;
    }
  }
